$baseHeaderColor : #0079BC;
$headerTextColor : #FFFFFF;
$headerTextSize : 14px;


$inputTextColor : #8A8888;
$inputTextSize : 14px;

$searchBtnColor : #E3CDCD1A;
$searchBtnIcon : #E6D9AD;

$middleColor : #FFFFFF33;
$bgBtnHeader : rgba(255, 255, 255, 0.05);