$baseHeaderColor : #0079BC;
$headerTextColor : #FFFFFF;
$headerTextSize : 14px;


$inputTextColor : #8A8888;
$inputTextSize : 14px;

$searchBtnColor : #E3CDCD1A;
$searchBtnIcon : #E6D9AD;
.header {
    background-color: $baseHeaderColor;
    color: $headerTextColor;
}
.top-header {
    .advertising {
        background-image: url('../../assets/img/ad1.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 2.25rem;
    }
}

.mid-header {
    .logo-header {
        width: 6rem;
        height: 3rem;
        img {
            width: 100%;
            height: auto;
        }
    }
    .search-box {
        input {
            width: 20rem;
            height: 2.2rem;
            color: $inputTextColor;
            font-size: $inputTextSize;
        }
        #search {
            width: 3rem;
            height: 2.2rem;
            background-color: $searchBtnColor;
            color: $searchBtnIcon;
        }
    }
    .service-header {
        font-size: $headerTextSize;
    }
    
}